<!DOCTYPE html>
<html>
<head>
  <title>AudioWaterVapor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript">
    window.CLOUDINARY_OPTIONS ={
      cloud_name: <%= ENV['tholmes741'] %>
      upload_preset: <%= ENV['pyo1htfk'] %>
    };
  </script>
</head>
<body>


<%= yield %>



</body>
</html>
